<style>
  .col2 {
    columns: 2 200px;         /* number of columns and width in pixels*/
      -webkit-columns: 2 200px; /* chrome, safari */
      -moz-columns: 2 200px;    /* firefox */
  }
</style>